/*ҳ1&ҳ2*/


/*ҳ1*/
.lib1 {width:993px; height:320px; position:relative; left:30px;}
.lib1 .xmtz {width:340px; border:solid 1px #CCCCCC; float:left;}
.lib1 li {position:relative; left:20px;top:10px; height:40px;}
.lib1 li a{text-decoration:none; color:#000000;}
.lib1 .bt { position:relative; left:0px; top:0px; height:34px; width:auto; background-color:#CCCCCC;}
.lib1 .bt h4 {line-height:34px; float:left; font-style:normal; color:#000000; width:203px;}
.lib1 .bt h6 {text-align:right; position:relative; top:20px;}
.lib1 .bt h6 a{text-decoration:none; color:#000000;}
.lib1 .xmxw {width:600px; position:relative; left:20px; float:left; border:solid 1px #CCCCCC;}
.lib1 .xmxw table td {height:120px;}
.xmtk {height:auto; border:solid 1px #CCCCCC; position:relative; left:30px;}
#gt {overflow:hidden; width: 560px;}
#gt img {margin:10px 10px 5px 15px;}
#guntu {float: left; width: 800%;}
#guntu1 {float: left;}
#guntu2 {float: left;}


