<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>长白山开发保护区池西春发人参种植专业合作社</title>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="长白山开发保护区池西春发人参种植专业合作社" />
        <meta name="keywords" content="长白山开发保护区池西春发人参种植专业合作社" />
        <!-- font-awesome -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
        <link rel="stylesheet" href="{{ site.url }}/css.css">
        {% if site.googleAnaly.config %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.googleAnaly.id }}']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>
    <body>
        <div align="center">
                <img src="{{ site.url }}/logo.png" />
            </div>
        <div align="center" style="margin-top:-280px; position:absolute;">
            <span style="font-size:45px;font-family:STCaiyun; line-height:80px; float:left; margin-left:200px;">长白山开发保护区池西春发人参种植专业合作社</span>
            <span style="margin-left:100px;">
                <a rel="sidebar" onclick="javascript:window.external.AddFavorite('http://ginsengplanting.github.com', '长白山开发保护区池西春发人参种植专业合作社');return false" >加入收藏夹</a> 
            </span>
            
        </div>
        <div class="head fn-clear">
            <div class="header">            
                <nav class="nav">
                    <ul>
                        {% for link in site.nav %}
                        {% assign active = nil %}
                        {% if page.url == link.url%}
                          {% assign active = 'nav-item-active' %}
                        {% endif %}
                        <li class="nav-item {{ active }}">
                            <a href="{{ site.url }}{{ link.url }}">
                                {{ link.text }}
                            </a>
                            {{ indicator }}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="follow">
                    {% for link in site.follow %}
                    <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="contain fn-clear">
            <div class="container fn-clear">
                <div class="main">
                    {{ content }}
                </div>
                <div class="aside">
                    <div class="aside-contact">
                        <h4 class="title">关于我们</h4>
                        <div class="det fn-clear">
                            <div class="det-text">
                                <p>理事长:朱春发</p>
                                <p>电话:15944957224</p>
                                <p>邮箱:1739611585@qq.com</P>
                                <p>地址:长白山池西区</P>
                                <p></P>
                            </div>
                        </div>
                    </div>

                    <div class="aside-item">
                        <h4 class="title">最新发布</h4>
                        <ul class="list">
                            {% for rpost in site.posts limit:6  %}
                                <li><a href="{{ site.url }}{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="aside-item">
                        <h4 class="title">
                             <span>工作时间</span>
                             <img src="http://ginsengplanting.github.com/time.png" style="margin-bottom:-10px" />
                        </h4>
                        <ul class="list">
                            <li><a title="周一至周五：8:30-17:30">周一至周五：8:30-17:30</a></li>
                            <li><a title="周六至周日：9:00-17:00">周六至周日：9:00-17:00</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footer">
                <p>Copyright 2013. All rights reserved. Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a>, Design by <a href="http://www.zhanxin.info" target="_blank">zhanxin.info</a>.</p>
            </div>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            function bookmark(){  
                var title=document.title  
                var url=document.location.href  
                if (window.sidebar) window.sidebar.addPanel(title, url,"");  
                else if( window.opera && window.print ){  
                    var mbm = document.createElement('a');  
                    mbm.setAttribute('rel','sidebar');  
                    mbm.setAttribute('href',url);  
                    mbm.setAttribute('title',title);  
                    mbm.click();}  
                else if( document.all ) window.external.AddFavorite( url, title);  
            }

        </script>
        {% if page.comment %}
            {% if site.disqus.config %}
            <script type="text/javascript">
                //disqus
                var disqus_shortname = '{{ site.disqus.id }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            {% else %}
                {% if site.duoshuo.config %}
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"{{ site.duoshuo.id }}"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                {% endif %}
            {% endif %}
        {% endif %}
    </body>
</html>
